@font-face {
    font-family: "NotoSansKR-Light";
    src:url("./font/Noto_Sans_KR/static/NotoSansKR-Light.ttf");
}

@font-face {
    font-family: "NotoSansKR";
    src: url("./font/Noto_Sans_KR/static/NotoSansKR-Medium.ttf");
}
@font-face {
    font-family: "NotoSansKR-Bold";
    src:url('./font/Noto_Sans_KR/static/NotoSansKR-Bold.ttf')
}
header{
    height: 86px; 
}

body{
    margin: 0;
    font-family:'NotoSansKR'
}
.header{
    position: fixed;
    width: 100%;
    height: 86px;
    z-index: 600;
    background-color: rgb(255, 255, 255);
}

.header .inner {
    margin: auto;
    max-width: 1460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li{
    width: 100px;
    height: 86px;    
}
.nav ul li a{
    display: block;
    text-decoration: none;
    width: 100px;
    height: 86px;
    line-height: 86px;
    text-align: center;
    color: black;
    border-bottom: 2px solid rgba(240, 248, 255, 0);
    transition: 0.3s;
    z-index: 101;
}
.nav a:hover{
    color: red;
    border-bottom: 4px solid rgba(255, 0, 0, 0.522);
    transition: 0.1s;
}

.gnb-util ul{
    display: flex;
    list-style: none;
    margin: 0;  
    padding-left: 0;
}
.gnb-util ul li{
    width: 60px;
}
.gnb-util ul div{
    display: flex;
    align-items: center;
    height: 86px;
}


.gnb-util a{
    color: black;
    transform: translate(0,7%);
}


.header {
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.154);
}

.header:hover {
    height: 260px; 
}



.submenu a{
    /* min-width: 75px; */
    
    margin-top: 50px;
    margin-right: 35px;
    font-size: 17px;
    text-decoration: none;
    color: black;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}




.submenu a::before{
    content: "> ";
    padding-right: 5px;
    
    text-align: right;
    color: rgb(80, 83, 86);
}

.nav {
    position: relative;
    
}


.submenu {
    position: absolute;
    top: 86px;
    left: 11px;
    right: 0; 
    display: flex;
    /* justify-content: space-around; */
    opacity: 0;
    max-height: 0; 
    overflow: hidden; 
    transition: all 0.2s ease-in-out;
}






.sub-container{
    width: 100%;
    position: relative;
    /* margin-top: 300px; */
}
.location{
    margin: 100px 0;
    position: relative;
    height: 50px;    
}
.location-inner{
    font-size: 15px;
    /* position: absolute; */
    /* left: 18%; */
    width: 1200px;
    margin: auto;
    color: rgba(31, 31, 28, 0.619);
    word-spacing: 7px;
}

.about-section01{
    /* width: 100%; */
    height: 600px;
    position: relative;
    /* background-color: aliceblue; */
}

.about-kkuljam{ 
    width: 1200px;
    height: 100%;
    margin: auto;
    
}
.about-kkuljam-left{
    width: 50%;
    height: 510px;
    float: left;
}
.about-kkuljam-right{
    width: 50%;
    height: 510px;
    float: left;
    position: relative;
}

.about-kkuljam-right p{
    padding-top: 20px;
    padding-left: 45px;
    color: red;
    font-weight: 700;
}
.about-kkuljam-right div:nth-of-type(1){
    font-family: "NotoSansKR-Bold";
    font-size: 33px;
    color: black;
    line-height: 1.5;
    /* font-weight: 600; */
    position: absolute;
    left: 7%;
    top: 15%;
    word-spacing: -2px;
    letter-spacing: -1px;
}
.about-kkuljam-right div:nth-of-type(2){
    width: 630px;
    font-family:"NotoSansKR-Light";
    font-size: 19px;
    color: black;
    line-height: 1.4;
    /* font-weight: 600; */
    position: absolute;
    left: 7%;
    top: 44%;
}

.about-section02{
    /* width: 100%; */
    height: 1100px;
    position: relative;
    /* background-color: blue; */
}

.about-section02-white-box{
    width: 1300px;
    /* height: 600px; */
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-40%);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.035);

}
.table-box{
    width: 900px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 50px;
    
    
    
}

.table-box table{
    width: 900px;
    border-collapse: collapse;
    border-top: 1px solid rgba(0, 0, 0, 0.108);
}
th,td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.133);
    
    padding: 20px;
}
td{
    font-family:"NotoSansKR-Light";
}

.section03{
    /* position: relative; */
    text-align: center;
    margin-bottom: 100px;
}

.section03 p:nth-of-type(1){
    color: red;
    font-family: "NotoSansKR-Bold";
    font-size: 35px;
    letter-spacing: -1px;
    word-spacing: 12px;
    margin-bottom: 0;
}
.section03 p:nth-of-type(2){
    font-family: "NotoSansKR-Light";    
    font-weight: 600;
    margin-bottom: 100px;
}

.wwd-box{
    width: 1700px;
    height: 500px;
    margin: auto;
}

.wwd{
    width: 300px;
    height: 450px;
    float: left;
    margin-left: 20px;
}
.wwd div:nth-last-of-type(1){
    font-family: "NotoSansKR-Light"; 
    width: 220px;
    margin: auto;
    font-size: 16px;
    
}
.wwd div:nth-last-of-type(2){
    font-family: "NotoSansKR-Bold"; 
    margin: auto;
    margin-top: 200px;
    margin-bottom: 30px;
    font-size: 28px;

}

.wwd04{
    background-image: url(image/whatwedo_bg_05.png) ;
}
.wwd05{
    background-image: url(image/whatwedo_bg_05.png) ;
}



/* 푸터 */
.logo-container img {
    max-width: 100px; /* 이미지의 최대 너비를 100px로 제한 */
    height: auto; /* 너비에 따라 높이가 자동으로 조절됨 */
    margin-left: 100px;
}

.logo-container {
    float: left; /* 로고 컨테이너를 왼쪽으로 띄움 */
    margin-right: 10px; /* 로고와 문구 사이의 간격 설정 */
}

.text-container {
    text-align: center; /* 텍스트를 수평 가운데 정렬합니다. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 가운데로 이동합니다. */
}
.text-container p {
    margin: 10px 0; 
    font-size: 14px;
    color: rgb(62, 62, 62);
    text-align: left; 
    margin:0;
    }

.image-container {
    float: right; /* 아이콘 컨테이너를 오른쪽으로 띄움 */
    text-align: right; /* 아이콘을 오른쪽 정렬합니다. */
    margin-right: 100px;

}

.image-container a {
    display: inline-block; /* 링크 요소를 블록 요소로 변경하여 여러 요소가 나란히 출력되도록 합니다. */
    margin-left: 20px; /* 아이콘 사이의 간격 설정 */
}

.image-container a img {
    width: 25px;
    height: 25px;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section.s3.fp-auto-height {
    padding: 150px 0; 
    background-color: rgba(104, 104, 104, 0.243);
    position: relative;
}