*{
    margin: 0;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('font/GmarketSansTTFMedium.ttf') format('truetype');
}
body{
    font-family: 'GmarketSans';
}
header{

}
.category-item:hover {
    font-size: 20px;
    font-weight: bold;
}
.head-container{
    width: 100%;
    /* background-color: azure; */
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.head-logo{
    margin-left: 12px;
}
.head-logo img{
    margin-right: 10px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.menu-ul{
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-left: 260px;
}
.menu-ul li{
    margin-right: 30px; 
    line-height: 80px;
}
.side-menu-ul{
    display: flex;
    min-width: 300px;
}
.side-menu-ul li{
    /* margin-right: 30px; */
    padding-right: 30px;
    line-height: 80px;
}
.notice{
    width: 100%;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    background-color: black;
    /* line-height: 40px; */
}
.notice span{
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 24px;
}
.category-container {
    width: 100%;
    height: 50px;
    /* background-color: beige; */
    line-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background-color: white;
    
}
.category-menu {
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: inline-flex;
    justify-content: right;
}
.category-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 500px;
}
.menu-ul li a:hover{
    background-color: gray;
    /* color: white; */
}
.side-menu-ul li a:hover{
    background-color: gray;
}

footer{
    width: 100%;
    height: 350px;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    display: flex   ;
}
.footer-left{
    margin-top: 50px;
    width: 50%;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 50px;
    margin-left: 70px;
}
.footer-div{
    margin-top: 20px;
}
.footer-logo{
    height: 24px;
    /* margin-top: 40px; */
    margin-bottom: 30px;
    padding: 0 40px;
}
.footer-menu-ul{
    display: flex;
}
.footer-menu-ul li{
    margin-right: 35px;
}
.footer-menu-ul li a{
    font-size: small;
}
.footer-menu-ul li .first{
    color: red;
}

.footer-info{
    margin-top: 18px;
}

.fiu-1{
    display: flex;
}
.fiu-1 li{
    margin-right: 20px;
    margin-bottom: 10px;
}
.fiu-2{
    display: flex;
}
.fiu-2 li{
    margin-right: 20px;
    margin-bottom: 10px;
    
}

.fiu-3{
    display: flex;
}
.fiu-3 li{
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-right{
    /* background-color: azure; */
    width: 500px;
    height: 240px;
    margin-left: 130px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.copyright{
    margin-top: 10px;
    padding: 0 40px;
    color:rgba(0, 0, 0, 0.4);
    font-size: 13px;
}

.footer-isms{
    display: flex;
    padding: 0 40px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    color:rgba(0, 0, 0, 0.4);
    font-size: 13px;
}
.footer-isms img, p{
    margin-right: 10px;
}

.footer-info ul div li a{
    font-size: 13px;
}
.footer-info-ul div li a{
    color:rgba(0, 0, 0, 0.4)
}
.top-as{
    margin-top: 50px;
    font-size: 13px;
    /* margin-bottom: 5px; */
}
.ftr{
    margin-top: 15px;
    font-size: 13px;
    padding: 0;
    margin-bottom: 5px;
    color:rgba(0, 0, 0, 0.4)
}
.call{
    margin-right: 60px;
}
.num{
    font-size: 25px;
    margin-bottom   : 10px;
}
.str-num{
    margin-right: 20px;
}
.footer-right p{
    font-size: 13px;
    color:rgba(0, 0, 0, 0.4)
}

.footer-btns{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-btns a{
    border: 1px solid black;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.83);
    
}
main{
    width: 100%;
    background-color: white;
}







/* 게시판 */
.main-container{
    width: 1200px;
    margin: 40px auto;
}
.main-container h2{
    font-size: 30px;
    margin-bottom: 40px;
}

.faq-container{
    margin-top: 20px;
    /* background-color: aquamarine; */
    width: 1200px;
    display: flex;
    /* border-top: 1px solid black; */
}
.category-list{
    width: 250px;
    height: 600px;
    /* background-color: azure; */
}
.firstP{
    border-top: 3px solid black;
}
.category-list p{
    text-align: left;
    padding-top: 10px;
    padding-left: -10px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    color: gray;
}

.list-box{
    width: 950px;
    /* background-color: bisque; */
    margin-left: 40px;
    border-top: 3px solid black;
}
.faq-choose{
    margin-top: 30px;
    margin-bottom: 40px;
}
.faq-choose p{
    font-weight: bold;
    font-size: 20px;
    /* margin-bottom: 50px; */
}
.faq-choose span{
    margin-right: 40px;
    color: gray;
}
.input-box{
    margin-top: 20px;
    background-color: black;
    height: 100px;
    display: flex;
    border-radius: 10px;
}
.img-div{
    width: 100px;
    margin-top: 35px;
    margin-right: 30px;
    margin-left: 5px;
}
.input-box input{
    width: 675px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}
.div-btn button{
    height: 50px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    border: none;
}
.qna-box{
    margin-top: 10px;
    border-top: 3px solid black;
    /* background-color: rebeccapurple; */
}
.qna-list{
    padding-left: 0;
}

.qna-list div li{
    padding-left: 0px;
    height: 40px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
    /* float: right; */
}
.qna-list div li button{
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
}
.qna-list div li span{
    margin-left: 10px;
    line-height: 40px;
}