a {
    text-decoration-line: none;
    color: inherit;
}

/*이미지를 포함한 물건 카테고리*/

.category-horizontal {
    width: 100vw;
    height: 275px;
}

.category-horizontal-menu {
    font-weight: bold;
    display: inline-flex;
    justify-content: right;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.category-horizontal-nav {
    margin-top: 75px;
    width: 100%;
    height: 100px;
    line-height: 225px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 700px;
}

.category-nav-item-pic {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.category-nav-item {

    text-align: center;
    min-width: 100px;
}

.category-nav-item-pic:nth-child(1) {
    background-image: url(../Team_project/Icons/icon_rug.png);
}

.category-nav-item-pic:nth-child(2) {
    background-image: url(../Team_project/Icons/icon_hotel.png);
}

.category-nav-item-pic:nth-child(3) {
    background-image: url(../Team_project/Icons/icon_light.png);
}

.category-nav-item-pic:nth-child(4) {
    background-image: url(../Team_project/Icons/icon_casa.png);
}

.category-nav-item-pic:nth-child(5) {
    background-image: url(../Team_project/Icons/icon_hotel.png);
}

.category-nav-item-pic:nth-child(6) {
    background-image: url(../Team_project/Icons/icon_rug.png);
}

/*LOVED ITEM*/
.loved-item-container {
    display: block;
    font-size: 50px;
    background-color: white;
    text-align: center;
    margin-bottom: 75px;
}
.loved-item-container:nth-child(odd){
    background-color: aliceblue;
}

.loved-item-toptext {
    padding-top: 70px;
}

.loved-item-list1 {
    position: relative;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    min-height: 575px;
}

.loved-item-list1::-webkit-scrollbar {
    display: none;
}

.loved-item-list2 {
    position: relative;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    min-height: 575px;
}

.loved-item-list2::-webkit-scrollbar {
    display: none;
}

.loved-item-list3 {
    position: relative;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    min-height: 575px;
}

.loved-item-list3::-webkit-scrollbar {
    display: none;
}

.slide{
    width: 100%;
}

.loved-item-menu {
    display: inline-block;
    font-size: 18px;
    margin: auto;
    margin-left: 15px;
    margin-bottom: 50px;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    transition: all 0.1s linear;
}

.loved-item-menu:hover {
    transform: scale(1.1, 1.1);
}

.loved-item-image {
    width: 300px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Team_project/Slide_image/Loveditem1.png);
}

.loved-item-description {
    text-align: left;
    max-width: 300px;
}

.loved-item-company {
    color: #868686;
    font-size: 14px;
    font-weight: bold;
}

.loved-item-price {
    margin-top: 50px;
    font-size: 26px;
    font-weight: bold;
}

.loved-item-heart-icon {
    float: right;
    transform:
        translate(0, -4px);
}

.three-row-item-toptext {
    font-size: 40px;
    text-align: center;
}

.three-row-item-container {
    display: block;
    height: 1040px;
    font-size: 50px;
    background-color: white;
    text-align: center;
}

.three-row-item-container:nth-child(odd){
    background-color: aliceblue;
}

.three-row-item-toptext {
    padding-top: 50px;
}

.three-row-item-list {
    position: relative;
    min-height: 575px;
}

.three-row-item-menu {
    display: inline-block;
    font-size: 18px;
    margin: auto;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 530px;
    height: 364px;
    border-radius: 15px;
}

.three-row-item-image {
    width: 530px;
    height: 364px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Team_project/Slide_image/three-row-img1.png);
    transition: all 0.1s linear;
    margin-bottom: 25px;
}

.three-row-item-image:hover {
    transform: scale(1.1, 1.1);
}

.three-row-item-company {
    padding-top: 250px;
    padding-left: 50px;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 18px;
    max-width: 530px;
    text-align: left;
    font-weight: bold;
}

.three-row-item-description {
    padding-left: 50px;
    text-shadow: 3px 3px 3px black;
    color: white;
    font-size: 24px;
    text-align: left;
    max-width: 530px;
}

.three-row-item {
    transition: all 0.1s linear;
    text-align: left;
    height: 143px;
}

.three-row-item:hover {
    transform: scale(1.1, 1.1);
}

.three-row-item-company-sub {
    font-size: 14px;
    color: #868686;
    transform: translate(0%, 50%);
}

.three-row-item-img {
    float: left;
    margin-right: 20px;
}

.three.row-item-name {
    transform: translate(0%, 0%);
    margin-bottom: 7%;
}

.three-row-item-price {
    text-decoration: line-through;
    font-size: 14px;
    color: #868686;
    font-weight: bold;
}

.three-row-item-dc-rate {
    font-size: 20px;
    color: red;
    font-weight: bold;
    display: inline;
}

.three-row-item-dc-price {
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

.three-row-item-heart-icon {
    float: right;
    transform:
        translate(-16px, -24px);
}

.fp-controlArrow.fp-prev {
    left: 0;
    border: none;
    width: 50px;
    height: 101px;
    background: url(left.png) no-repeat;
    cursor: pointer;
}

.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 50px;
    height: 101px;
    background: url(right.png) no-repeat;
    cursor: pointer;
}
.category-detail-top{
    display: flex;
    align-items: center;
}
.top-left-text {
    margin-left: 200px;
    margin-right : 60px;
    width: 200px;
    min-width: 200px;
}

.slide{
    margin-top : 95px;
}
.slide-img{
    border-radius: 10px / 10px;
}

.item-list{
    margin-left: 460px;
}

.item-menu{
    margin-top: 20px;
    margin-right: 15px;
    display: inline-block;
    transition: all 0.1s linear;
}
.item-menu img{
    border-radius: 10px / 10px;
}

.item-menu:hover {
    transform: scale(1.1, 1.1);
}

.item-list-row{
    margin-top: 100px;
}

.item-name{
    max-width: 225px;
    font-size: 15px;
}
.item-company {
    color: #868686;
    font-size: 15px;
}

.item-price {
    margin-top: 50px;
    font-size: 26px;
    font-weight: bold;
}

.item-dc-rate {
    font-size: 20px;
    color: red;
    font-weight: bold;
    display: inline;
}

.item-price {
    font-size: 20px;
    font-weight: bold;
    display: inline;
}