@font-face {
    
    font-family: "NotoSansKR-Light";
    src:url("./font/Noto_Sans_KR/static/NotoSansKR-Light.ttf");
}

@font-face {
    font-family: "NotoSansKR";
    src: url("./font/Noto_Sans_KR/static/NotoSansKR-Medium.ttf");
}
@font-face {
    font-family: "NotoSansKR-Bold";
    src:url('./font/Noto_Sans_KR/static/NotoSansKR-Bold.ttf')
}
header{
    height: 86px;
}

body{
    margin: 0;
    font-family:'NotoSansKR'
}
.header{
    position: fixed;
    width: 100%;
    height: 86px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.header .inner {
    margin: auto;
    max-width: 1460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li{
    width: 100px;
    height: 86px;    
}
.nav ul li a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 86px;
    line-height: 86px;
    text-align: center;
    color: black;
    border-bottom: 2px solid rgba(240, 248, 255, 0);
    transition: 0.3s;

}
.nav ul li a:hover{
    color: red;
    border-bottom: 4px solid rgba(255, 0, 0, 0.522);
    transition: 0.1s;
}

.gnb-util ul{
    display: flex;
    list-style: none;
    margin: 0;  
    padding-left: 0;
}
.gnb-util ul li{
    width: 60px;
}
.gnb-util ul div{
    display: flex;
    align-items: center;
    height: 86px;
}


.gnb-util a{
    color: black;
    transform: translate(0,7%);
}
.banner{
    background-image: url(image/sub_visual_02.png);
    width: 100%;
    height: 314px;
    
}
.location{
    padding-top: 100px;
    position: relative;
    height: 50px;    
    z-index: 500;
    
}
.location-inner{
    z-index: 500;
    font-size: 15px;
    width: 1200px;
    margin: auto;
    color: rgba(255, 255, 255, 0.986);
    word-spacing: 7px;
    
}

.notice_icon {
    display: inline-block;
    margin-right: 15px;
    min-width: 60px;
    line-height: 23px;
    font-weight: 400;
    color: #eb2127;
    text-align: center;
    border: 1px solid #eb2127;
    border-radius: 12px;
    box-sizing: border-box;
    vertical-align: top;
}

.section01-white-box{
    width: 1200px;
    height: 440px;
    margin: auto;
    background-color: white;
    margin-top: -95px;
}

.table-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1200px;
    margin: auto;
    padding: 20px;
    color: #181818;
    background-color: #fff;
    
}

.table-wrap table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrap th, .table-wrap td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.table-wrap th {
    background-color: #000000;
    color: #fff;
}

.table-wrap tr:hover {
    background-color: #FFEEE0;
}

.table-wrap ul a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.table-wrap ul a:hover {
    color: red;
    border-bottom: 3px solid rgba(255, 0, 0, 0.522);
    transition: 0.1s;
}

.table-wrap ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: -800px;
}

.table-content {
    display: none;
    border: #181818;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    color: #181818;
    background-color: #fff;
    margin-top: -880px;
}

.table-wrap ul li:first-child a:after {
    content: "|";
    margin-left: 15px;
    margin-right: 15px;
}

.active-tab {
    color: red;
    border-bottom: 4px solid rgba(255, 0, 0, 0.522);
}

.table-wrap td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.table-wrap th {
        font-weight: normal;
        color: #fff;
        border: 1px solid #ccc;
        padding: 15px;
        text-align: center;
    }

.table-wrap tr:hover {
    background-color: #FFEEE0;
}

.table-wrap ul a {
    color: #EB2127;
    text-decoration: none;
    transition: color 0.3s;
}

.table-wrap ul a:hover {
    color: red;
    transition: 0.1s;
    border-bottom: 3px solid rgba(255, 0, 0, 0.522);
}

.table-wrap ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0; /* 추가 */
    margin: -800px 0 0; /* 수정 */
}

table {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #f9f9f9;
    text-align: center;
}

td[data-header='구분'], td[data-header='2020년'], td[data-header='2021년'], td[data-header='2022년'] {
    text-align: center;
}

td:not([data-header='구분']):not([data-header='2020년']):not([data-header='2021년']):not([data-header='2022년']) {
    text-align: right;
}

.table-wrap ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 86px;
    line-height: 86px;
    text-align: center;
    color: black;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
}

#table1 td[data-header='자산총계'],
#table2 td[data-header='자산총계'] {
    background-color: #e2e2e2; 
    text-align: center;
}

#table1 td[data-header='부채총계'],
#table2 td[data-header='부채총계'] {
    background-color: #e2e2e2; 
    text-align: center;
}

#table1 td[data-header='자본총계'],
#table2 td[data-header='자본총계'] {
    background-color: #e2e2e2; 
    text-align: center;
}








